$navbar-size: 64px;

.vh-100-navbar {
    height: calc( 100vh - $navbar-size ) !important;
}

#container-form {
    height: calc(500px - $navbar-size);
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}