
.nav-container {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.icon {
    width: 32px;
    height: 32px;
}
  
.icon:hover {
    fill: #F2F2F2;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F2F2F2;
    height: 60px;
}

.nav-icons {
    justify-content: flex-start;
    width: 10%;
}

.nav-links {
    justify-content: space-between;
    width: 36%;
    display: flex;
}

.nav-links > span:hover, .nav-icons > i:hover {
    color: #7427F1;
    transition: 0.5s;
    cursor: pointer;
}