@import "../../App.scss";

.nav-container {
    margin-bottom: 2px;
    margin-top: 2px;
}

.icon {
    width: 32px;
    height: 32px;
}
  
.icon:hover {
    fill: $light;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light;
    height: 60px;
}

.nav-icons {
    justify-content: flex-start;
    width: 10%;
}

.nav-links {
    justify-content: space-between;
    width: 36%;
    display: flex;
}