$theme-colors: (
  "primary":    #FFA900,
  "secondary":  #20459F,
  "light":      #F2F2F2,
  "dark":       #20232A
);

@import "~bootstrap/scss/bootstrap";

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --color-primary: #4D41C0;
  
}

* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html, body {
  background-color: #20232A;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

::-webkit-scrollbar-track {
  background-color: #15141A;
}

::-webkit-scrollbar {
  width: 12px;
  background: #15141A;
}

::-webkit-scrollbar-thumb {
  background: #15141A;
  border-radius: 15px;
  box-shadow: inset 3px 3px 0.7em -5px #7427F1;
} */